<div class="cell">
  <div class="caption">
    <div class="card-body cb-custom">
      <h2 class="d-inline-block">Register</h2>
      <p *ngIf="errorMessage" class="alert-danger ta-center">{{errorMessage}}</p>
      <form (ngSubmit)="onSubmit(registerF)" #registerF="ngForm">
        <div class="form-group">
          <input type="text" name="username" placeholder="Username" class="form-control" #username="ngModel" ngModel required/>
        </div>
        <div class="form-group">
          <input type="number" name="age" placeholder="Age" class="form-control"  #age="ngModel" ngModel required/>
        </div>
        <div class="form-group">
          <input type="text" name="famille" placeholder="Famille" class="form-control"  #famille="ngModel" ngModel required/>
        </div>
        <div class="form-group">
          <input type="text" name="race" placeholder="Race" class="form-control"  #race="ngModel" ngModel required/>
        </div>
        <div class="form-group">
          <input type="text" name="nourriture" placeholder="Nourriture" class="form-control"  #nourriture="ngModel" ngModel required/>
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Password" class="form-control"  #password="ngModel" ngModel required/>
        </div>
        <div class="form-group">
          <input type="password" name="passwordConf" placeholder="Confirm Password" class="form-control"  #passwordConf="ngModel" ngModel required/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" [disabled]="!registerF.valid">Register</button>
          <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
