
.register {
  background: url("/assets/bg_pangolin.jpg") no-repeat center center;
  min-height: 90vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
