table {
  margin: auto;
}

th {
  padding: 10px;
}

h3 {
  word-wrap: break-word;
  padding: 10px 0;
}

td {
  padding: 5px 50px;
}

.cb-custom-home {
  height: 400px;
  width: auto;
  margin: auto;
}

.show {
  display: block!important;
}

.caption {
  overflow-y: auto;
}

.contain {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin: 0;
}

.material-icons {
  line-height: 1.5;
  font-size: small;
  font-weight: bold;
}

.cell {
  height: auto;
}

.searchbar {
  border-radius: 30px;
  overflow: hidden;
}

input:focus, button:focus {
  outline: none;
}

.myButton {
  border-radius: 20px;
  background-color: transparent;
  border: 0;
}

.abso {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.bg-red:hover {
  background-color: rgb(139, 19, 19);
}

.bg-green {
  background-color: rgb(24, 168, 24);
  color: white;
}

.square-green {
  border: 1px double rgb(24, 168, 24);
  border-radius: 0;
  padding: 0px 10px;
}

.bg-red {
  background-color: rgb(177, 24, 24);
  color: white;
}

.btn-link {
  color: #007bff!important;
}

.btn-link:hover {
  color: #00448d!important;
}

.chat {
  bottom: 92px;
  right: 35px;
}

.mycircle {
  background-color: grey;
  border-radius: 45px;
  padding: 5px;
  display: inline-block;
}

.myRed {
  position: relative;
  right: 15px;
  top: -17px;
  background-color: red !important;
}

.green {
  background-color: rgb(21, 194, 21) !important;
}


* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
