<div class="contain">
  <div class="cell mt-200">
    <input class="searchbar p-2 pl-3" id="searchBar" placeholder="Search a user">
  </div>
  <div class="cell mt-5">
    <!--PangolinsList-->
    <div class="caption cb-custom cb-custom-home col-5">
    <h3>Pangolins List</h3>
      <p *ngIf="pangolinsService.pangolin.length == 0">There is no registered user</p>
      <table>
        <tbody *ngFor="let pangolin of pangolinsService.pangolin">
          <tr *ngIf="searchFriend(pangolin)">
            <td *ngIf="authenticationService.currentPangolinValue"><div class="mycircle" [ngClass]="{'green': isConnected(pangolin.username)}"></div></td>
            <td>{{ pangolin.username }}</td>
            <td *ngIf="authenticationService.currentPangolinValue ">
              <button *ngIf="pangolin._id != authenticationService.currentPangolinValue._id" class="myButton" [disabled]="isFriend(pangolin._id)" [ngClass]="{'bg-green': !isFriend(pangolin._id), 'square-green': isFriend(pangolin._id)}">
                <i class="material-icons" (click)="addFriend(pangolin)" *ngIf="!isFriend(pangolin._id)">add</i>
                <i class="material-icons" *ngIf="isFriend(pangolin._id)">done</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--FriendList-->
    <div *ngIf="authenticationService.currentPangolinValue" class="caption cb-custom cb-custom-home col-5">
      <h3>Friends</h3>
      <p *ngIf="authenticationService.currentPangolinValue.friends.length <= 0">You have no friends</p>
      <table>
        <tbody *ngFor="let pangolin of pangolinsService.pangolin">
          <tr *ngIf="isFriend(pangolin._id) && searchFriend(pangolin)">
            <td><button class="btn p-0 btn-link" (click)="friendProfile(pangolin)">{{ pangolin.username }}</button></td>
            <td>
              <button class="myButton bg-red">
                <i class="material-icons" (click)="removeFriend(pangolin)">clear</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="myButton bg-green abso">
        <i class="material-icons" (click)="showNewFriendForm()">add</i>
      </button>
    </div>
    <div class="contain position-absolute" hidden [ngClass]="{'show': showForm}" >
      <div class="cell">
        <div class="card-body cb-custom">
          <h2 class="d-inline-block">Register</h2>
          <p *ngIf="errorMessage" class="alert-danger ta-center">{{errorMessage}}</p>
          <form (ngSubmit)="addNewFriend(registerF)" #registerF="ngForm">
            <div class="form-group">
              <input type="text" name="username" placeholder="Username" class="form-control" #username="ngModel" ngModel required/>
            </div>
            <div class="form-group">
              <input type="number" name="age" placeholder="Age" class="form-control"  #age="ngModel" ngModel required/>
            </div>
            <div class="form-group">
              <input type="text" name="famille" placeholder="Famille" class="form-control"  #famille="ngModel" ngModel required/>
            </div>
            <div class="form-group">
              <input type="text" name="race" placeholder="Race" class="form-control"  #race="ngModel" ngModel required/>
            </div>
            <div class="form-group">
              <input type="text" name="nourriture" placeholder="Nourriture" class="form-control"  #nourriture="ngModel" ngModel required/>
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control"  #password="ngModel" ngModel required/>
            </div>
            <div class="form-group">
              <input type="password" name="passwordConf" placeholder="Confirm Password" class="form-control"  #passwordConf="ngModel" ngModel required/>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" [disabled]="!registerF.valid">Register</button>
              <a class="btn btn-link" (click)="showNewFriendForm()">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="contain position-absolute chat" *ngIf="authenticationService.currentPangolinValue">
      <button (click)="showChatContainer()" style="background: none; border: none; color: white" [ngClass]="{'d-none': showChat}" >Chat
        <i class="fas fa-comment-dots text-white" style="font-size: 30px;"></i>
      </button>
      <app-chat hidden class="" [ngClass]="{'show': showChat}" ></app-chat>
    </div>
  </div>
</div>
