<div class="container-fluid h-100">
  <div class="row justify-content-center h-100">
    <div class="chat">
      <div class="card">
        <div class="card-header msg_head">
          <span>Chat</span>
          <i class="ml-1 fas fa-comment-dots text-white" style="font-size: 25px;"></i>
          <span class="showBut"><i class="far fa-window-minimize" (click)="homeComponent.showChatContainer()"></i></span>
          <span> {{numbUser}} connected</span>
        </div>
        <div id="msgContainer" class="card-body msg_card_body">
          <div class="d-flex pb-4" *ngFor="let message of messages" [ngClass]="myMessage(message)? 'justify-content-end' : 'justify-content-start'" >
            <div [ngClass]="myMessage(message)? 'msg_cotainer_send' : 'msg_cotainer'" >
              {{message}}
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="input-group">
            <form (ngSubmit)="sendMessage(messageF)" #messageF="ngForm">
              <input class="myInput" [(ngModel)]="message" name="message" autocomplete="off" required/>
              <button class="send_btn" [disabled]="messageF.invalid"><i class="fas fa-location-arrow"></i></button>
           </form>
          </div>
      </div>
    </div>
  </div>
</div>



