.chat{
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
}
.card {
  height: 500px;
  border-radius: 15px 15px 0 0;
  background-color: rgba(0, 0, 0, 0.788) !important;
}

.card-body::-webkit-scrollbar {
  display: none;
}

.msg_card_body{
  overflow-y: auto;
  padding: 0 15px;
}
.card-header{
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}
.card-footer{
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}

.myInput {
  width: 310px;
}

.msg_head{
  color: white;
  position: relative;
}

.msg_cotainer{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  position: relative;
}

.msg_cotainer_send{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #78e08f;
  padding: 10px;
  position: relative;
}

.type_msg {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  height: 60px !important;
  overflow-y: auto;
}

.type_msg:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.send_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
  padding-left: 20px;
}

.showBut {
  cursor: pointer;
  float: right;
}
