.myheader {
  color: white;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
}

.myNav {
  color: white;
  font-size: 17px;
  background-color: rgba(165, 42, 42, 0.836);
  border: 1px solid brown;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
}

.btn {
  font-size: 20px;
  color: white;
}

.logo {
  height: 100px;
}

.myNav:hover {
  color: white;
  font-size: 17px;
  background-color: rgba(199, 23, 23, 0.836);
  border: 1px solid brown;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
}
